#first-box{
    background-color: rgb(132, 219, 1);
    border-radius: 20px 0px 20px 0px;
    padding: 13px;
}
#contact-email{
    text-decoration: none;
    margin-right: 30px;
    color: whitesmoke;
}
#contact-number{
    margin-right: 600px;
    color: whitesmoke;
}
#contact-email-a, #contact-number-a{
    text-decoration: none;
}
#facebook-btn, #twitter-btn, #insta-btn, #text-btn{
    border: none;
    background-color: rgb(132, 219, 1);
    margin-right: 40px;
}
#secondary-box{
     background-color: #F56A01;
     display: flex;
     padding-top: 15px;
     padding-bottom: 15px;
}
#home-btn-home, #about-btn-home, #blogs-btn-home, #contact-btn-home, #gallary-btn-home, #support-btn-home{
    background: none;
    padding: 10px;
    border: none;
    margin-left:110px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
#donate-btn-home{
    margin-left: 60px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0.7em;
    /* border-color:#000000; */
    border: none;
    background-color: #000000;
    color: white;
    /* box-shadow: rgb(51, 49, 49) 3px 6px 9px 1px; */
}   

